manifest {
    description = 'Generate some stats on a BAM file'
    author = 'Andrew Duncan'
}

params {
	bam_input = 'rna.SRR948778.bam'
	mem_gb = '4'
}

process.container = 'ghcr.io/dockstore/dockstore-tool-bamstats:1.25-8'
docker {
    enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
}
